/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Abel', sans-serif;
    --secondary-font: 'Source Code Pro';
    --primary-color: #F4F1BB; /* Lemon chiffon */
    --secondary-color: #9BC1BC; /* Ash gray */
    --highlight-color: #5CA4A9; /* Verdigris */
    --highlight-color-light: #68BEC4;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    padding-top: 56px;
}

/* Buttons */
#booking-button {
    background-color: var(--highlight-color);
    border: none;
    width: 150px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Nav Bar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 120px;
}

/* Hero Section */
#hero {
    height: 100vh;
    width: 100%;
    background: url("/assets/images/hero.jpg") no-repeat center center/cover;
    background-position: 50% 28%;
    position: relative;
  }

/* Footer */
footer {
    background-color: var(--primary-color);
}