/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Abel', sans-serif;
    --secondary-font: 'Source Code Pro';
    --primary-color: #F4F1BB;
    /* Lemon chiffon */
    --secondary-color: hwb(172 84% 7%);
    /* Ash gray */
    --highlight-color: #5CA4A9;
    /* Verdigris */
    --highlight-color-light: #68BEC4;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    padding-top: 58px;
    background-color: var(--secondary-color);
}

header>.row {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Buttons */
.hero-booking-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    width: 250px;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 75px;
    opacity: 0.9;
}

.hero-booking-button:hover {
    background-color: var(--highlight-color-light);
}

.form-submit-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    width: 150px;
    font-size: 1.8rem;
    font-weight: bold;
    opacity: 0.9;
}

.form-submit-button:hover {
    background-color: var(--highlight-color-light);
}

.home-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    width: 300px;
    font-size: 1.8rem;
    font-weight: bold;
    opacity: 0.9;
}

.home-button:hover {
    background-color: var(--highlight-color-light);
}

/* Nav Bar */
#navbar {
    background-color: var(--primary-color);
    font-size: 1.2rem;
}

#navbar .logo {
    width: 120px;
}

/* Hero Section */
#hero {
    background: url("../images/hero-min.jpg") no-repeat center center/cover;
    background-position: 40% 5%;
    position: relative;
}

#hero-logo {
    width: 40%;
    top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    opacity: 75%;
}

/* Youtube Video */
iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

/* Profile section */

#member-profiles {
    align-items: center;
}

/* Carousel */
.carousel-inner>.carousel-item>img {
    width: 100%;
    height: auto;
}

/* Cards */

.card {
    margin: 20px;
}

.card-body {
    height: 150px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links i {
    font-size: 1.8rem;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

/* Media Queries */
@media screen and (min-width: 300px) {
    #hero {
        width: 100%;
        height: 350px;
    }

    #hero-logo {
        visibility: hidden;
    }
}

@media screen and (min-width: 576px) {
    #hero {
        width: 100%;
        height: 450px;
    }

    #hero-logo {
        visibility: visible;
    }
}

@media screen and (min-width: 768px) {
    #hero {
        height: 450px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    #hero {
        height: 500px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    #hero {
        height: 100vh;
        width: 100%;
    }
}